/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*...CSS applies here...  */
body{
  font-size: 1.5rem;
}
img{
  width: 80px;
  height: 80px;
}
.container{
  display: flex;
  /* flex-direction: row; */
  /* justify-content: center; /* space-around; space-between; flex-start; flex-center;*/ */
  /* align-items: stretch; /* center; flex-start; flex-end; */ */
  /* flex-wrap: wrap; */
  /* align-content: center; /* space-around; space-between; flex-start;   flex-wrap: wrap; 전제 필수.  */ */
  height: 100vh;
  background: lightgray;
}
.item{
  /*
  ...flex-basis: 0; will remove space for flex-grow, and increases proportionally.
  */
  /* flex-grow: 1; */
  background: rgba(255,0,0, 0.5);
}
/*
...flex-grou takes space(= total-width - sum of item(1,2,3) ) proportionally.
*/
.item:nth-child(1){
  /* flex-grow: 1;
  flex-shrink: 1; */
  flex: 1; /* as if flex-basis: 0. */
}
.item:nth-child(2){
  /* flex-grow: 2;
  flex-shrink: 2; */
  flex: 2;
}
.item:nth-child(3){
  /* flex-grow: 3;
  flex-shrink: 3; */
  flex: 3;
}

.item:nth-child(odd){
  background: rgba(255,255,0, 0.5);
}
