/* Put your code here */
.grid {
  display: grid;

  /*
  grid-template: 100px 100px 100px / repeat(12, 25px);
  grid-template: 100px 100px 100px / repeat(12, [col] 25px);
  */
  grid-template: minmax(100px, 300px) 100px 100px
  /*
  / 100px 1fr 1fr;
  / 100px 2fr 1fr;
  / repeat( 6, minmax(20px, 60px) ); /* min, Maximum in any case #/
  */
   / repeat( 6, minmax(30px, 1fr) ); /* min, Maximum in any case */

  grid-gap: 10px;
}
