/* Put your code here */
.grid {
  display: grid;

  /*
  grid-template: 100px 100px 100px / repeat(12, 25px);
  grid-template: 100px 100px 100px / repeat(12, [col] 25px);
  */
  grid-template: 100px 100px 100px
   / repeat(6, [colSmall] 15px [colLarge] 30px);

  grid-gap: 10px;

  grid-template-areas:
    "E E A"  /* "E . A"  or "E - A"*/
    "B C A"
    "F D A"
}

.grid div:nth-child(1) {
  grid-column: 1/ span 12;
}

.grid div:nth-child(2) {
  /* grid-column: col 1/ col 7; */
  grid-column: colSmall 1/ colLarge 3;
}

.grid div:nth-child(3) {
  grid-column: auto/ span 3;
}

.grid div:nth-child(4) {
  grid-column: auto/ span 3;
}

.grid div:nth-child(5) {
  grid-column: auto/ span 12;
}

.grid div:nth-child(6) {
  grid-column: auto/ span 12;
}
