/* Put your code here */
.grid {
  display: grid;

  grid-template-rows: 100px 200px;
  grid-template-columns: 200px auto 150px;

  /*
  grid-row-gap: 10px;
  grid-column-gap: 20px;
  */

  grid-gap: 10px;

  /*grid-gap: 10px 20px; /* row column */
}

.grid div:nth-child(6) {
  /* order: 0; Default, unchanged */
  order: -1;
}

.grid div:nth-child(3) {
  /* order: 0; Default, unchanged */
  order: 1;
}

.grid div:nth-child(2) {
  /* order: 0; Default, unchanged */
  order: 2;
}
