table{
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 20px;
}
th, td{
  border: none;
  text-align: center;
  padding: 20px;
}
tr:nth-child(even){
  background-color: #66cc33;
}
tr:nth-child(odd){
  background-color: #3399cc;
}
