/*
...from : https://youtu.be/1DgbpVboXTo
...step01.let's start with the smaller device first which is 280px,
          and then go to the higher resolution.

          Mobile, Tablet, iPad :
          280px ~ 400px
          401px ~ 600px
          601px ~ 750px
          751px ~ 899px

          Laptop, Desktop :
          min 900px ~ Max 1023px
          min 1024px ~ Max 1151px

          min 1152px ~ Max 1279px
          min 1280px ~ Max 1365px

          min 1366px ~ Max 1399px
          min 1440px ~ Max 1535px

          min 1536px ~ Max 1599px
          min 1600px ~ Max 1679px

          min 1680px ~ Max 1919px
          min 1920px ~ Max 2559px

          min 2560px ~ Max 2879px
          min 2880px ~ Max 3439px

          min 3440px ~ Max 3839px
          min 3840px ~

...responsive for hand held device.
   @media all and (min-device-width: 280px) {...}
   min-device-width :
      'device' is used because its hand held device mobile and tablet.

...responsive for Desktop.
   @media screen and (min-width: 900px) and (max-width: 1023px)
   min-device-width :
      'device' is used because its hand held device mobile and tablet.

...if width in % used, it increases and decreases for resolution.
   if width in px used, it will stay fixed, like the height of
   those boxes or button.


*/
html, body {
  margin:0;
  padding: 0;
  overflow: auto;
}

/*
...step01.media query responsive for mobile width: 280px ~ 400px.
*/
@media all
and (min-device-width: 280px)
and (max-device-width: 400px) {

  #header{
    position: fixed;
    background: red;
    width: 100%;
    height: 50px;
    box-shadow: 0px 5px 5px -5px #111;
  }

  #logo{
    /* style for box */
    border: 1px solid #111;
    width: 150px;
    height: 30px;
    margin-top: 10px;
    margin-left: 50px;

    /* style for font */
    font-family: calibri;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
  }

  #body{
    background: grey;
    /*
    ...this is to show some space after the content in the end of page
       when scrolled.
    */
    padding-bottom: 50px;
  }


  #first{
    /*
    ...style for box.
    */
    width: 90%;
    height: 100px;
    background: blue;
    margin-top: 60px;
    margin-left: 5%;
    border: 1px solid #111;

    /*
    ...style for font.
    */
    font-family: calibri;
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 100px;
  }

  #second{
    /*
    ...style for box.
    */
    width: 80%;
    height: 200px;
    background: #fff;
    margin-top: 20px;
    margin-left: 10%;
    border: 1px solid #111;

    /*
    ...style for font.
    */
    font-family: calibri;
    color: blue;
    font-size: 30px;
    text-align: center;
    line-height: 30px;
  }

  #button{
    /*
    ...style for box.
    */
    width: 100px;
    height: 30px;
    background: pink;
    margin-top: 20px;
    margin-right: 30px;
    float: right;
    border: 2px solid #111;
    border-radius: 6px;

    /*
    ...style for font.
    */
    font-family: calibri;
    color: red;
    font-size: 20px;
    text-align: center;
    line-height: 30px;

  }

}

/*
...step01.media query responsive for mobile width: 401px ~ 600px.
*/
@media all
and (min-device-width: 401px)
and (max-device-width: 600px) {

  #header{
    position: fixed;
    background: orange;
    width: 100%;
    height: 50px;
    box-shadow: 0px 5px 5px -5px #111;
  }

  #logo{
    /* style for box */
    border: 1px solid #111;
    width: 150px;
    height: 30px;
    margin-top: 10px;
    margin-left: 50px;

    /* style for font */
    font-family: calibri;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
  }


  #body{
    background: grey;
    /*
    ...this is to show some space after the content in the end of page
       when scrolled.
    */
    padding-bottom: 50px;
  }


  #first{
    /*
    ...style for box.
    */
    width: 90%;
    height: 100px;
    background: blue;
    margin-top: 60px;
    margin-left: 5%;
    border: 1px solid #111;

    /*
    ...style for font.
    */
    font-family: calibri;
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 100px;
  }

  #second{
    /*
    ...style for box.
    */
    width: 80%;
    height: 200px;
    background: #fff;
    margin-top: 20px;
    margin-left: 10%;
    border: 1px solid #111;

    /*
    ...style for font.
    */
    font-family: calibri;
    color: blue;
    font-size: 30px;
    text-align: center;
    line-height: 30px;
  }

  #button{
    /*
    ...style for box.
    */
    width: 100px;
    height: 30px;
    background: pink;
    margin-top: 20px;
    margin-right: 30px;
    float: right;
    border: 2px solid #111;
    border-radius: 6px;

    /*
    ...style for font.
    */
    font-family: calibri;
    color: red;
    font-size: 20px;
    text-align: center;
    line-height: 30px;

  }

}

/*
...step02.media query responsive for Desktop width: 601px ~ 750px.
*/
@media screen
and (min-device-width: 601px)
and (max-device-width: 750px) {

  #header{
    position: fixed;
    background: yellow;
    width: 100%;
    height: 50px;
    box-shadow: 0px 5px 5px -5px #111;
  }

  #logo{
    /* style for box */
    border: 1px solid #111;
    width: 150px;
    height: 30px;
    margin-top: 10px;
    margin-left: 50px;

    /* style for font */
    font-family: calibri;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
  }


  #body{
    background: grey;
    /*
    ...this is to show some space after the content in the end of page
       when scrolled.
    */
    padding-bottom: 50px;
  }


  #first{
    /*
    ...style for box.
    */
    width: 90%;
    height: 100px;
    background: blue;
    margin-top: 60px;
    margin-left: 5%;
    border: 1px solid #111;

    /*
    ...style for font.
    */
    font-family: calibri;
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 100px;
  }

  #second{
    /*
    ...style for box.
    */
    width: 80%;
    height: 200px;
    background: #fff;
    margin-top: 20px;
    margin-left: 10%;
    border: 1px solid #111;

    /*
    ...style for font.
    */
    font-family: calibri;
    color: blue;
    font-size: 30px;
    text-align: center;
    line-height: 30px;
  }

  #button{
    /*
    ...style for box.
    */
    width: 100px;
    height: 30px;
    background: pink;
    margin-top: 20px;
    margin-right: 30px;
    float: right;
    border: 2px solid #111;
    border-radius: 6px;

    /*
    ...style for font.
    */
    font-family: calibri;
    color: red;
    font-size: 20px;
    text-align: center;
    line-height: 30px;

  }

}

/*
...step02.media query responsive for Desktop width: 751px ~ 899px.
*/
@media screen
and (min-device-width: 751px)
and (max-device-width: 899px) {

  #header{
    position: fixed;
    background: green;
    width: 100%;
    height: 50px;
    box-shadow: 0px 5px 5px -5px #111;
  }

  #logo{
    /* style for box */
    border: 1px solid #111;
    width: 150px;
    height: 30px;
    margin-top: 10px;
    margin-left: 50px;

    /* style for font */
    font-family: calibri;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
  }


  #body{
    background: grey;
    /*
    ...this is to show some space after the content in the end of page
       when scrolled.
    */
    padding-bottom: 50px;
  }


  #first{
    /*
    ...style for box.
    */
    width: 90%;
    height: 100px;
    background: blue;
    margin-top: 60px;
    margin-left: 5%;
    border: 1px solid #111;

    /*
    ...style for font.
    */
    font-family: calibri;
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 100px;
  }

  #second{
    /*
    ...style for box.
    */
    width: 80%;
    height: 200px;
    background: #fff;
    margin-top: 20px;
    margin-left: 10%;
    border: 1px solid #111;

    /*
    ...style for font.
    */
    font-family: calibri;
    color: blue;
    font-size: 30px;
    text-align: center;
    line-height: 30px;
  }

  #button{
    /*
    ...style for box.
    */
    width: 100px;
    height: 30px;
    background: pink;
    margin-top: 20px;
    margin-right: 30px;
    float: right;
    border: 2px solid #111;
    border-radius: 6px;

    /*
    ...style for font.
    */
    font-family: calibri;
    color: red;
    font-size: 20px;
    text-align: center;
    line-height: 30px;

  }

}

/*
...step02.media query responsive for Desktop width: 900px ~ 1023px.
*/
@media screen
and (min-device-width: 900px)
and (max-device-width: 1023px) {

  #header{
    position: fixed;
    background: cyan;
    width: 100%;
    height: 50px;
    box-shadow: 0px 5px 5px -5px #111;
  }

  #logo{
    /* style for box */
    border: 1px solid #111;
    width: 150px;
    height: 30px;
    margin-top: 10px;
    margin-left: 50px;

    /* style for font */
    font-family: calibri;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
  }


  #body{
    background: grey;
    /*
    ...this is to show some space after the content in the end of page
    when scrolled.
    */
    padding-bottom: 50px;
  }


  #first{
    /*
    ...style for box.
    */
    width: 90%;
    height: 100px;
    background: blue;
    margin-top: 60px;
    margin-left: 5%;
    border: 1px solid #111;

    /*
    ...style for font.
    */
    font-family: calibri;
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 100px;
  }

  #second{
    /*
    ...style for box.
    */
    width: 80%;
    height: 200px;
    background: #fff;
    margin-top: 20px;
    margin-left: 10%;
    border: 1px solid #111;

    /*
    ...style for font.
    */
    font-family: calibri;
    color: blue;
    font-size: 30px;
    text-align: center;
    line-height: 30px;
  }

  #button{
    /*
    ...style for box.
    */
    width: 100px;
    height: 30px;
    background: pink;
    margin-top: 20px;
    margin-right: 30px;
    float: right;
    border: 2px solid #111;
    border-radius: 6px;

    /*
    ...style for font.
    */
    font-family: calibri;
    color: red;
    font-size: 20px;
    text-align: center;
    line-height: 30px;

  }

}

/*
...step02.media query responsive for Desktop width: 900px ~ 1023px.
*/
@media screen
and (min-device-width: 1024px) {

  #header{
    position: fixed;
    background: violet;
    width: 100%;
    height: 50px;
    box-shadow: 0px 5px 5px -5px #111;
  }

  #logo{
    /* style for box */
    border: 1px solid #111;
    width: 150px;
    height: 30px;
    margin-top: 10px;
    margin-left: 50px;

    /* style for font */
    font-family: calibri;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
  }

  #body{
    background: grey;
    /*
    ...this is to show some space after the content in the end of page
       when scrolled.
    */
    padding-bottom: 50px;
  }


  #first{
    /*
    ...style for box.
    */
    width: 90%;
    height: 100px;
    background: blue;
    margin-top: 60px;
    margin-left: 5%;
    border: 1px solid #111;

    /*
    ...style for font.
    */
    font-family: calibri;
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 100px;
  }

  #second{
    /*
    ...style for box.
    */
    width: 80%;
    height: 200px;
    background: #fff;
    margin-top: 20px;
    margin-left: 10%;
    border: 1px solid #111;

    /*
    ...style for font.
    */
    font-family: calibri;
    color: blue;
    font-size: 30px;
    text-align: center;
    line-height: 30px;
  }

  #button{
    /*
    ...style for box.
    */
    width: 100px;
    height: 30px;
    background: pink;
    margin-top: 20px;
    margin-right: 30px;
    float: right;
    border: 2px solid #111;
    border-radius: 6px;

    /*
    ...style for font.
    */
    font-family: calibri;
    color: red;
    font-size: 20px;
    text-align: center;
    line-height: 30px;

  }

}
