/* Put your code here */
.grid {
  display: grid;

  grid-template-rows: 5% 20% 10% auto 20%;
  grid-template-columns: 200px auto;

  /*
  grid-row-gap: 10px;
  grid-column-gap: 20px;
  */
  /*
  grid-gap: 10px;
  */
  grid-gap: 10px 20px; /* row column */
}
